.profile__add-btn {
	background: url(../../../images/add-icon.png) center no-repeat;
	background-size: 22px;
	width: 150px;
	height: 50px;
	padding: 0;
	border: 2px solid #fff;
	grid-column: 4;
	justify-self: end;
}

.profile__add-btn:hover {
	cursor: pointer;
	opacity: .6;
}

@media (max-width: 768px) {
	.profile__add-btn {
		grid-row: 5;
		grid-column: 1;
		justify-self: center;
		width: 282px;
	}
}