.profile__info {
	max-width: 336px;
	grid-column: 3;
	display: grid;
	align-items: baseline;
	grid-template-columns: minmax(min-content, max-content) 18px 24px;
	grid-template-rows: auto;
	row-gap: 16px;
}

@media (max-width: 768px) {
	.profile__info {
		grid-row: 3;
		grid-column: 1;
		grid-template-columns: 18px 10px minmax(189px, max-content) 10px 18px;
		row-gap: 6px;
	}
}