.card__icon {
	width: 22px;
	height: 19px;
	border: 0;
	background: url(../../../images/card-icon.svg) center / contain no-repeat;
	transition: opacity .3s;
}

.card__icon:hover {
	cursor: pointer;
	opacity: .6;
}